[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
e1839a8 = {editable = true,file = "file:///home/yves/Documents/neo/projects/neo/data_science_challenge"}
click = "*"
coverage = "*"
awscli = "*"
flake8 = "*"
Sphinx = "*"
pandas = "*"
jupyter = "*"
matplotlib = "*"
seaborn = "*"
sklearn = "*"
plotly = "*"

[requires]
python_version = "3.6"
